$fondo-de-color: #046DC8;
$segundo-fondo:#03071e;
$color-borde: #3c4c8f;
$ancho: 100%;
$blue: #4285f4;
$naranja: #ff9a3e;
$colorOver:#ff9a3e;
$green: green;
$h1Desktop: 25px;
$h1Mobile: 18px;
$parrafoDesktop: 16px;
$parrafoMobile: 12px;
$vista: 1024px;
$tipo-de-letra: verdana;
$alinear-al-centro: center;
