@import "../variables/variables";


header, footer{
    background-color:$fondo-de-color;
    text-align: center;
    nav{
        text-align: center;
        a{
            font-family: 'Courier New', Courier, monospace;
           &:hover{
                color: $blue;
                background-color:  $colorOver;
            }
        }
    }
}